table {
  text-align: center;
}
.filterForm {
  margin-top: 2em;
  margin-bottom: 2em;
}
.btn {
  float: right;
  margin-right: 1em;
}
.rpb-root {
  float: right;
}
td > .nav-link {
  padding: 0 10px 0 10px;
}
.paginationBtn {
  float: right;
  margin-right: 3em;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

#searchBtn {
  width: auto;
}

#resetBtn {
  width: auto;
}
