.container {
  margin: 0 auto;
}

.wrap-box {
  padding: 30px 20px;
  margin: auto;
  background-color: #a2e6da;
  border-radius: 25px;
}

.login {
  min-height: 100vh;
}

.login-heading {
  font-weight: 300;
}
.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
.invalid {
  border-color: red !important;
}
